[submodule "OTA_bin"]
	path = OTA_bin
	url = https://github.com/Ashokay/OTA_bin.git
[submodule "SVTV"]
	path = SVTV
	url = https://github.com/Ashokay/SVTV.git
[submodule "mplab"]
	path = mplab
	url = https://github.com/Ashokay/mplab.git
[submodule "ota-server-2"]
	path = ota-server-2
	url = https://github.com/harshallohar/ota-server-2.git
[submodule "Vaccination-Project"]
	path = Vaccination-Project
	url = https://github.com/Ashokay/Vaccination-Project.git
